*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html, body{
  height: 100%;
}

  /*
  Estilo do site
  */
  html,body {
    height: 100%;
  }
   
  form{
    width: 96%;
    min-height: 100vh;
    max-width: 700px;
    margin: 0 auto;
  }
  
  form legend{
    color: rgba(243, 243, 243, 0.781);
    font-size: 17px;
  }
  
  form fieldset{
    padding: 40px 5%;
    border: black 1px groove;
    background-color: rgb(39, 61, 89);
    color: white;
  }

  form fieldset h2{
    text-align: left;
    margin: 10px;
  }

  form .w50{
    width: 50%;
  }

  form .w100{
    width: 100%;
  }

  form .form_wraper{
    max-width: 618px;
    background-color: rgb(39, 61, 89);
    padding: 20px 40px;
    border: black 1px groove;
    color: white;
  }

  form input[class=text]{
   margin-top: 0px;
   margin-bottom: 25px;
   width: 100%;
   padding: 10px 13px;
   border: 1px solid black ;
   
  }

  form fieldset.contato select.sexo{
    margin-bottom: 15px;
  }

  form input{
    width: 100%;
  }

  form .input-wraper {
    float: left;
    padding: 10px;
    margin-top: 7px;
  }

  form .espaço {
    padding: 10px 0;
  }

  form input[class=date]{
    margin-top: 0px;
    width: 100%;
    padding: 10px 13px;
    border: 1px solid black ;
    display: inline-block;

  }
  input:focus{
    outline: 0;
  }
  
  form select {
    margin-bottom: 25px;
    width: 100%;
    margin-top: 0px;
    padding: 10px 13px;
    display: inline-block;
    border: 1px groove black;
    color: rgb(100, 100, 100);
    outline: 0;
  }
  
  form h2 {
    text-align: center;
    margin-top: 20px;
    color: rgb(130, 130, 130);
  }
  
  .input{
    display: inline-block;
    text-align: left;
    margin-top: 20px;
  }
  
  .input span{
    margin-left: 13px;
    font-size: 16px;
    color: rgb(130, 130, 130);
  }

  form .botoes{
    width: 90%;
    display: flex;
    margin: 0 auto;
  }
  
  form input[type=submit]{
    margin-top: 30px;
    cursor: pointer;
    border: 0;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid rgb(140, 126, 100);
    background-color: rgb(140, 126, 100);
    color: rgb(255, 255, 255);
    text-align: center;
  }

  form input[type=submit]:hover{
    transition: 1s;
    background-color: rgba(39, 61, 89, 1);
    border: 1px solid white;
  }
  .end-message{
    display: inline-block;
    margin-top: 20px;
    font-size: 17px;
  }

/*Media Screen form julubi -start-*/
  @media screen and (max-width: 400px){
    form{
      margin: 0 auto;
      width: 96%;
    }

    form .w50{
      width: 100%;
    }

    form fieldset h2{
      text-align: center;
    }

    form input, form select{
      margin-bottom: 10px;
    }
  }
/*Media Screen form julubi -end-*/